<mat-toolbar class="navbar" #navbar [style.height.px]="height">

  <span class="logo-span"></span><img class="logo" (click)="scrollTo('home')" [routerLink]="['home']" src="assets/logo.png"/>

  <span class="navbar-right" fxFlex="1 1 auto" fxHide.lt-sm="true">
    <ng-container class="pepe" *ngFor="let option of optionArray">
      <a *ngIf="option.color == 'G'" class="nav-option green" fxFlex="1 0 auto" (click)="scrollTo('cars')" [routerLink]="['/home']" routerLinkActive="active">{{option.text}}</a>
      <a *ngIf="option.text == 'Home'" class="nav-option white" fxFlex="1 0 auto" (click)="scrollTo('home')" [routerLink]="['/home']" routerLinkActive="active">{{option.text}}</a>
      <a *ngIf="option.text != 'Home' && option.color == 'W'" class="nav-option white" fxFlex="1 0 auto" [routerLink]="['/' + option.href + '']">{{option.text}}</a>
    </ng-container>
  </span>

  <span class="menu-button-container" fxFlex="1 1 auto" fxHide.gt-xs="true">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>Menu</button>
    </mat-menu>

    <button class="menu-button" mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon class="dropdown">menu</mat-icon>
    </button>
  </span>
</mat-toolbar>

<div class="spacer"></div>
