h1 {
  text-align: center;
  padding-top: 30px;
}

.form {
  display: block;
  padding-left: 30vw;
  padding-right: 30vw;
}

mat-form-field {
  width: 100%;
}

.b {
  padding-right: 20px;
}

button {
  width: 100%;
}

p{
  color: greenyellow;
}
