/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: radial-gradient(#444444, #222222);
  font-family: raleway, sans-serif;
  min-height: 100vh;
}

h1 {
  color: greenyellow;
  font-weight: lighter;
  font-size: 48px;
}

:focus {
  outline: 0;
}

table {
  width: 100%;
}

.mat-dialog-container {
  background: #333333 !important;
}

button {
  color: #555;
}

.row {
  padding: 0 20vw;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: grey;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  transition: background-color 0.5s ;

  &:hover {
    background-color: darkgrey;
    cursor: pointer;
  }

  h1 {
    margin-bottom: 0;
  }
}
