<div>
  <h1>Meet the Team!</h1>

  <div class="teamMembers" fxLayout="row">
    <div fxLayout="column" class="member">
      <img src="../../assets/man.png" height="150" width="150"/>
      <h2>Dr John Ibeth</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet aperiam architecto atque aut autem, beatae blanditiis consequatur cum deserunt dolore dolorem doloremque ea eaque earum eius ex excepturi explicabo fugiat fugit hic id iusto laudantium molestias, neque nihil nisi odio officiis perspiciatis praesentium quae quisquam rem sequi similique tempore, velit? A ab, accusamus ad aliquid animi asperiores at atque deserunt dolor eligendi error esse est fugiat harum illo inventore iure laudantium magnam minima molestias nam nulla odio omnis porro praesentium repellat reprehenderit saepe sint, suscipit tempore?</p>
    </div>
    <div fxLayout="column" class="member">
      <img src="../../assets/man.png" height="150" width="150"/>
      <h2>Dr Joe Ibeth</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet aperiam architecto atque aut autem, beatae blanditiis consequatur cum deserunt dolore dolorem doloremque ea eaque earum eius ex excepturi explicabo fugiat fugit hic id iusto laudantium molestias, neque nihil nisi odio officiis perspiciatis praesentium quae quisquam rem sequi similique tempore, velit? A ab, accusamus ad aliquid animi asperiores at atque deserunt dolor eligendi error esse est fugiat harum illo inventore iure laudantium magnam minima molestias nam nulla odio omnis porro praesentium repellat reprehenderit saepe sint, suscipit tempore?</p>
    </div>
    <div fxLayout="column" class="member">
      <img src="../../assets/man.png" height="150" width="150"/>
      <h2>Dr Joseph Ibeth</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet aperiam architecto atque aut autem, beatae blanditiis consequatur cum deserunt dolore dolorem doloremque ea eaque earum eius ex excepturi explicabo fugiat fugit hic id iusto laudantium molestias, neque nihil nisi odio officiis perspiciatis praesentium quae quisquam rem sequi similique tempore, velit? A ab, accusamus ad aliquid animi asperiores at atque deserunt dolor eligendi error esse est fugiat harum illo inventore iure laudantium magnam minima molestias nam nulla odio omnis porro praesentium repellat reprehenderit saepe sint, suscipit tempore?</p>
    </div>
  </div>
</div>
