<div>
  <h1>Meet the Team!</h1>

  <div class="teamMembers" fxLayout="row">
    <div fxLayout="column" fxFlex="0 0 33" class="member" #team0>
      <img height="150" width="150"/>
      <h2></h2>
      <p></p>
    </div>
    <div fxLayout="column" fxFlex="0 0 33" class="member" #team1>
      <img height="150" width="150"/>
      <h2></h2>
      <p></p>
    </div>
    <div fxLayout="column" fxFlex="0 0 33" class="member" #team2>
      <img height="150" width="150"/>
      <h2></h2>
      <p></p>
    </div>
  </div>
</div>
