<div class="home">
  <div #buttonBanner class="button-banner" [ngStyle]="{'background-image': imageURL}">
    <div class="inner" fxFlex="0 0 20">
      <button  (click)="changeImage('back')" mat-icon-button  [disableRipple]="true" aria-label="slideshow left button">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>

    <div class="inner" fxFlex="0 0 30">
      <span #slogan1 class="slogan">DRIVE</span>
      <br />
      <span #slogan2 class="slogan">YOUR</span>
      <br />
      <span #slogan3 class="slogan">FANTASY</span>
    </div>

    <span class="inner right" fxFlex="0 0 50">
      <div fxFlex="0 0 87"></div>
      <button (click)="changeImage('forward')" [disableRipple]="true" mat-icon-button  aria-label="slideshow left button">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </span>
  </div>
</div>


<h1 class="intro-header">Travel Like Never Before</h1>
<p class="lorem">Welcome to Leckey Rentals, Northern Ireland's home to sports car hire. We lead the local rental industry
  with the best cars and best service with over 12 days of experience. Take your time browsing our massive range of
  over 4 unbeatable cars.</p>
<p class="lorem">If you need one of the nicest cars for hire, should it be for a wedding, a special occasion, or just for
  a soothing weekend drive, you're in the great hands with us at Leckey Rentals. We only employ the most reasonable sales
  men and women, and we will never try to scam you out of any money...</p>
<p class="lorem">...We promise.</p>
<h1 class="intro-header" #carsHeader>Our Cars - Only the Best</h1>
<div class="row">
  <div *ngFor="let car of cars">
    <app-car-thumbnail [car]="car"></app-car-thumbnail>
  </div>
</div>
<h1 class="intro-header">Our Promise</h1>
<p class="lorem">We promise to you that our cars will <b><i>always</i></b> come in peak condition. So much as a scratch
  and we will sue you for all you're worth. All of our prices are a complete rip off and we have a strict policy of
  <b><i>no refunds.</i></b> As an extremely trustworthy company we can guarantee to charge you
  <b><i>extra unexpected fees</i></b> for things you neither asked for, nor needed. One of our top priorities is
  ensuring our cars fuel tanks are <b><i>completely empty</i></b> when they get to your hands, and we expect you to
  fill them up completely, or we'll charge you <b><i>double.</i></b></p>

<button  (click)="scrollToTop()" class="scrollButton" mat-icon-button  [disableRipple]="true" aria-label="scroll to top">
  <mat-icon>keyboard_arrow_up</mat-icon>
</button>
<h1 class="scrollTopText" (click)="scrollToTop()">SCROLL TO TOP</h1>
